
*.vsidx
*.db-shm
*.db-wal
.vs/MyPortfolio/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
.vs/MyPortfolio/v17/.wsuo
.vs/MyPortfolio/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
.vs/MyPortfolio/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
.vs/MyPortfolio/CopilotIndices/17.14.878.3237/SemanticSymbols.db
.vs/MyPortfolio/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
.vs/MyPortfolio/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/MyPortfolio/v17/DocumentLayout.json
.vs/MyPortfolio/v17/DocumentLayout.json
.vs/MyPortfolio/v17/DocumentLayout.backup.json
.vs/MyPortfolio/v17/.wsuo
.vs/VSWorkspaceState.json
/.vs/MyPortfolio/CopilotIndices/17.14.878.3237/CodeChunks.db
/.vs/MyPortfolio/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
/.vs/slnx.sqlite
