*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
    --hue: calc(0 + (var(--xp) * 500));
    --text-color: #1a1a1a;
    --bg: #222324;
    --size: 100px;
    --glow: radial-gradient(50% 50% at center, hsl(var(--hue) 80% 85%), hsl(var(--hue) 80% 70%), transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}
.flex-row{display: flex;}

header{
    padding-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-image:url("../images/hero.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    z-index: 999;
}
header a{
    text-decoration: none;
    color: black;
}
header nav{
    margin: 20px 0;
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: end;

    list-style: none;
}
header nav ul li a{
    margin: 0 30px;
    font-size: 30px;
    font-weight: lighter;
}
header nav li a:hover{
    text-decoration: underline;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    gap: 1rem;
    background: var(--bg);

}

.hero{
    height: 100vh;
    padding: 0;

    background-image:url("../images/hero.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center center;
    align-items: center;
    text-align: center;

    color: white;
}
.hero-content{
    height: 100vh;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50%;
}
#hero-hello{
    font-size:25px;
    color:#bdbdbd;
}
.hero-name{
    text-align: center;
}
.hero h1{
    font-size: 80px;
    display: inline-block;
    position: relative;
}
.hero h1:before, .hero h1:after{
    content:"";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 50px;
    width: 200px;
} 
.hero h1:before{
    right: 100%;
    margin-right:15px;
}
.hero h1:after{
    left: 100%;
    margin-left: 15px;
}
#hero-about{color:#d4d4d4;}

.bio{
    background-color: rgb(160, 160, 160);
    margin: auto;
}
.bio h2{
    font-size: 30px;
    padding-top: 10px;
}

.me-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.me-img{
    clip-path: circle();
    filter: grayscale(100%);
    height: 405px;
    width: 360px;
}
.me-text{max-width:750px;}

.work{
    background-image:url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.work-content{
    text-align: center;
    flex-direction: column;
}
.work-content h2{
    color: white;
    font-size: 30px;
    padding-top: 30px;
}
.projects{
    width:100%;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.project{
    background-color:rgb(160, 160, 160);

    width: 25%;
    margin: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;

    display: inline-block;
}
.project-bio{
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;

    color:rgb(44, 44, 44)
}
.project:first-child{
    flex: 1 1 450px;
}
.project:not(:first-child){
    flex: 1 1 300px;
}
.project img{
    width: 100%;
    filter: grayscale(100%);
}
.project img:hover{
    filter: grayscale(0%);
    transition-duration: 1s;
}
.project-name{
    font-size: 1.5em;
}

.form_selector {
    display: flex;
    place-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background: var(--bg);
}
.selector_button {
    margin:2.5%;
    position: relative;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    border: 4px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    cursor: pointer;
    background: linear-gradient(#222324, #222324) padding-box, var(--glow), linear-gradient(black, black) border-box;
    transition: background-size 0.24s;
    touch-action: none;
}
    .selector_button::before {
        position: absolute;
        inset: 0;
        box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
        background: var(--bg);
        z-index: 2;
        border-radius: 1rem;
    }

    .selector_button span {
        position: relative;
        color: transparent;
        background: var(--glow), black;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        height: 100%;
        width: 100%;
        z-index: 2;
        inset: 0;
    }
    .selector_button::after {
        position: absolute;
        inset: -4px;
        filter: blur(20px);
        border: 4px solid transparent;
        background: var(--glow);
        border-radius: 1rem;
    }











footer{
    background-color: rgb(160, 160, 160);
    padding: 20px;
    text-align: center;
}
.contact h2{
    font-size: 30px;
}
.contact-content {
    border: 3px solid black;
    margin: 0 auto;
    padding-top: 3vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.contact-info {
    padding: 5vh;
}


